@model List<Licenta.Models.Gym>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Gyms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .btn-transition {
            transition: background-color 0.3s ease;
        }

            .btn-transition:hover {
                background-color: forestgreen;
                color: white;
            }

        .search-container {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-end; 
        }

            .search-container input {
                width: 200px; 
                margin-left: 10px;
            }

        .dropdown {
            height: fit-content;
            width: 100px;
            position: absolute;
            display: flex;
            top: 65px; 
            left: 215px; 
            z-index: 1000; 
        }


        .dropdown-toggle {
            background-color: #f1f1f1;
            color: #333;
            padding: .75rem 2.5rem;
            border: none;
            border-radius: .5rem;
            cursor: pointer;
            width: 150px;
            display: flex;
            align-items: center; 
            justify-content: space-between; 
        }

            .dropdown-toggle span {
                display: flex;
                align-items: center; 
            }

            .dropdown-toggle i {
                margin: 0.3rem; 
            }

        .dropdown-menu {
            position: absolute;
            top: 100%; 
            left: 0;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            border-radius: 1rem;
            padding: 0;
            list-style: none;
            display: none;
        }

            .dropdown-menu .menu-item:first-child {
                border-radius: 1rem 1rem 0 0;
            }

            .dropdown-menu .menu-item:last-child {
                border-radius: 0 0 1rem 1rem;
            }

        .menu-items {
            width: 170px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1.5rem; 
            background-color: white;
            border: none;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 13px !important; 
        }
    </style>
</head>
<body>

    <div class="container">

        <div class="dropdown">
            <div class="dropdown-toggle" onclick="toggleDropdown()">
                <span>
                    <i class="fas fa-sort"></i>
                    Sort
                </span>
            </div>
            <ul class="dropdown-menu" id="dropdownMenu">
                <li class="menu-items" onclick="handleButtonClick('sortByRating')">
                    <i class="fas fa-star"></i> 
                    SortByRating
                </li>
                <li class="menu-items" onclick="handleButtonClick('sortByName')">
                    <i class="fas fa-sort-alpha-down"></i>
                    SortByName
                </li>
            </ul>
        </div>

        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search..." class="form-control">
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Open Hour</th>
                    <th>Close Hour</th>
                    <th>Rating</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gym in Model)
                {
                    <tr>
                        <td>@gym.name</td>
                        <td>@gym.adress</td>
                        <td>@gym.openHour</td>
                        <td>@gym.closeHour</td>
                        <td>@((gym.rating != null) ? $"{gym.rating} / 5" : "N/A")</td>
                        <td>
                            <button class="btn btn-danger" onclick="deleteGym(@gym.idg)">Delete</button>
                            <a href="/Gym/UpdateGymView?id=@gym.idg" class="btn btn-primary">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function sortByRating() {
            var rows = $("table tbody tr").get();

            rows.sort(function (rowA, rowB) {
                var ratingTextA = $(rowA).find("td:eq(5)").text();
                var ratingTextB = $(rowB).find("td:eq(5)").text();

                var partsA = ratingTextA.split('.'); 
                var partsB = ratingTextB.split('.');

                var wholeA = parseFloat(partsA[0]);
                var wholeB = parseFloat(partsB[0]);

                if (wholeB !== wholeA) {
                    return wholeB - wholeA;
                } else {
                    var fractionalA = parseFloat(partsA[1]);
                    var fractionalB = parseFloat(partsB[1]);

                    return fractionalB - fractionalA;
                }
            });

            $.each(rows, function (index, row) {
                $("table tbody").append(row);
            });
        }


        function sortByName() {
            var rows = $("table tbody tr").get();

            rows.sort(function (rowA, rowB) {
                var nameA = $(rowA).find("td:eq(1)").text().toUpperCase(); 
                var nameB = $(rowB).find("td:eq(1)").text().toUpperCase(); 

                return nameA.localeCompare(nameB); 
            });

            $.each(rows, function (index, row) {
                $("table tbody").append(row);
            });
        }

        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function deleteGym(gymId) {
            $.ajax({
                type: "POST",
                url: "/Gym/DeleteGym",
                data: { id: gymId },
                success: function () {
                    location.reload();
                }
            });
        }

        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            dropdownMenu.style.display = (dropdownMenu.style.display === "none" || dropdownMenu.style.display === "") ? "block" : "none";
        }

        function handleButtonClick(action) {
            if (action === "sortByName") {
                sortByName();
            } else if (action === "sortByRating") {
                sortByRating();
            }
        }
    </script>

</body>
</html>
