@model Licenta.Models.Customer

@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>User Registration</title>
    <style>
        .button-container {
            margin-top: 20px;
            margin-left: 40px;
        }

        .btn {
            margin-right: 10px;
        }

        h3 {
            margin-bottom: 25px;
        }
    </style>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("Password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</head>
<body>
    <h3>Please register before you use the App</h3>

    @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { onsubmit = "return validateForm();" }))
    {
        @Html.ValidationSummary(true)
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(m => m.surname)
                @Html.TextBoxFor(m => m.surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.surname)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.lastname)
                @Html.TextBoxFor(m => m.lastname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.lastname)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.age)
                @Html.TextBoxFor(m => m.age, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.age)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.gender)
                @Html.DropDownListFor(m => m.gender, new List<SelectListItem>
                {
                    new SelectListItem { Text = "Male", Value = "Male" },
                    new SelectListItem { Text = "Female", Value = "Female" },
                    new SelectListItem { Text = "Other", Value = "Other" }
                }, " ", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.gender)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.email)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password, new { @class = "form-control", id = "Password" })
                <input type="checkbox" onclick="togglePasswordVisibility()"> Show Password
                @Html.ValidationMessageFor(m => m.password)
            </div>

            <!-- Add other registration data fields as needed -->

            <div class="button-container">
                <button type="submit" class="btn btn-primary">Register</button>
                @Html.ActionLink("Cancel", "Login", "Authenticate", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</body>
</html>
