
@{
    ViewBag.Title = "AddSpecificClass";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Class</title>
    <style>
        input {
            width: 190px;
            font-size: 16px;
            height: 28px;
            padding: 2px;
            margin: 3px;
            border: solid;
            border-color: indigo;
            border-radius: 4px;
            border-width: 2px;
            margin-left: 72px;
        }

        form {
            padding: 2px;
        }

        button {
            width: 160px;
            height: 45px;
            color: white;
            background-color: forestgreen;
            border-radius: 6px;
            margin: 2px;
        }
    </style>
</head>
<body>
    <div>
        <form action="@Url.Action("SaveAddedClass", "Class")" method="POST">
            <input type="hidden" id="idg" name="idg" value="@ViewBag.GymId" /> <!-- Add the GymId as a hidden input -->
            Class Name: <input type="text" id="name" name="name" /> <br />
            Description: <input type="text" id="description" name="description" /> <br />
            Date: <input type="date" id="date" name="date" /> <br />
            Time: <input type="time" id="time" name="time" /> <br />
            Class Type:
            <select id="idct" name="idct">
                @foreach (var classType in ViewBag.ClassTypes)
                {
                    <option value="@classType.idct">@classType.type</option>
                }
            </select>
            <br />
            Coach:
            <select id="idco" name="idco">
                @if (ViewBag.Coaches != null)
                {
                    foreach (var coach in ViewBag.Coaches)
                    {
                        <option value="@coach.idco">@coach.name</option>
                    }
                }
            </select>
            <br />

            <div>
                <button type="submit">Add Class</button>
                <button type="button" onclick="window.location.href='/Class/Classes'">Cancel</button>
            </div>
        </form>

    </div>
</body>
</html>

