@model Licenta.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<style>
    .button-container {
        margin-top: 20px;
        margin-left: 40px;
        border-radius: 13px !important; /* Remove button border-radius for a rectangular shape */
    }

    .btn {
        margin-right: 10px;
    }

    h3 {
        margin-bottom: 25px;
    }
</style>

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Password", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-primary">Reset Password</button>
        @Html.ActionLink("Cancel", "Login", "Authenticate", null, new { @class = "btn btn-secondary" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
